{##
 # Columns Block
 # @NOTE needs lots of updates since I kind of silently deprecated Twig and concentrated on PHP templates
 #}

<div {% if configure.element_id %} id="{{ configure.element_id }}" {% endif %} class="layout-block-columns row {{ configure.element_class }}">
  {% for column in content.columns %}
    {% if column._builder.block is not empty %}
      {% set block_view = column._builder.block ~ ".twig" %}
      {% include block_view with column %}
    {% endif %}
  {% endfor %}
</div>
