{##
 # Text Block
 # @NOTE needs lots of updates since I kind of silently deprecated Twig and concentrated on PHP templates
 #}

<div {% if configure.element_id %} id="{{ configure.element_id }}" {% endif %} class="layout-block-text {{ configure.element_class }}">
  {# If your text content has HTML in it, then twig will autoescape it. If you want the HTML to be treated as real
     HTML then ensure to add the `raw` filter on the variable #}
  {{ content.text|raw }}
</div>
